 @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
	
html {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
	
body {
    background: rgb(0,0,0,0.9);
    color: rgb(44, 235, 56);
    /* border: 2px solid red; */
   }

h1 {
    font-size: 4rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 
.button-section {
    text-align: center;
}

.button-section > button {
    padding: 1em 2em;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border-radius: 80%;
    margin: 1.5em;
}

.red-pill-btn {
    background: red;
    /* margin-right: 25px; */
}

.blue-pill-btn {
    background: blue;
}

.auto-text {
    text-align: center;
}

.legend {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 12em;
    padding: 1em;
    width: 60%;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    /* border: red solid 2px; */
}

.red-pill > h3 {
    color: red;
}

.blue-pill > h3 {
    color: blue;
}

#matrix {
    box-sizing: border-box;
    background: black;
    height: 97vh;
    width: 99vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}